# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log

# Virtual environments
.venv/
env/
venv/
ENV/
.Python

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Pydantic cache (optional)
*.mypy_cache/
.pdm.toml
__pypackages__/


/uploads